% if type(items) == list:
<table class="table">
    <thead>
        <tr>
            <th>文件名</th>
            <th>修改时间</th>
            <th>大小</th>
        </tr>
    </thead>
    <tbody>
        % for item in items:
        <tr>
            <td><a href="">{{item['name']}}</a></td>
            <td>{{item['lastModifiedDateTime']}}</td>
            <td>{{item['size']}}</td>
        </tr>
        % end
    </tbody>
</table>
% else:
<div class="empty">
    <p class="empty-title h5">用户未开通OneDrive</p>
</div>
%end