% from src.common import format_size, url_join
% m = request.query.get('m')
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.9/dist/spectre.min.css">
<link rel="stylesheet" href="/static/main.css?v=2">
<link rel="shortcut icon" href=https://cdn.jsdelivr.net/gh/a224327780/oneadmin@{{static_version}}/static/favicon.png>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@1.11.0/dist/jquery.min.js"></script>
% if m == 'grid':
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/css/justifiedGallery.min.css">
<script>$(function () {
    $('.justified-gallery').justifiedGallery({margins : 3, 'lastRow': 'justify', rowHeight : {{ 120 if name == 'hanzongyi' else 320}} });
})</script>
% end
<title>OneIndex</title>
<style>
    @font-face {
        font-family: 'Satisfy';
        font-style: normal;
        font-weight: 400;
        src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://cdn.jsdelivr.net/gh/a224327780/oneadmin@{{static_version}}/static/fonts/satisfy.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
</style>
</head>
<script type="text/javascript">window.page_url = '{{!request.url}}';</script>
<body>
<div class="main">
    <div class="left">
        <a href="/" class="navbar-brand">OneIndex</a>
        <ul class="nav nav-menu">
            % for one_type, driver_items in drives.items():
            <li class="nav-item">
                <a href="javascript:void(0);">{{one_type.upper()}}</a>
                <ul class="nav nav-sub">
                    % for item in driver_items:
                    % if item['_id'] == name:
                    <li class="nav-item active">
                        % else:
                    <li class="nav-item">
                        % end
                        <a href="/{{item['_id']}}">{{item['name']}}</a>
                    </li>
                    % end
                </ul>
            </li>
            % end
        </ul>
    </div>
    <div class="right">
        <div class="navbar">
            <section class="navbar-section nav-bar-breadcrumb">
                <a href="/">OneIndex</a>
                <a href="/{{name}}">{{name}}</a>
            </section>
            <section class="navbar-center">
                <a href="{{!url_join(request.url, {'m': 'grid'})}}" class="{{'d-none' if m == 'grid' else ''}}">
                    <svg viewBox="0 0 24 24" class="svg-icon">
                        <path d="M3,9H7V5H3V9M3,14H7V10H3V14M8,14H12V10H8V14M13,14H17V10H13V14M8,9H12V5H8V9M13,5V9H17V5H13M18,14H22V10H18V14M3,19H7V15H3V19M8,19H12V15H8V19M13,19H17V15H13V19M18,19H22V15H18V19M18,5V9H22V5H18Z"></path>
                    </svg>
                </a>
                <a href="{{!url_join(request.url, {'m': 'list'})}}" class="{{'d-none' if not m or m == 'list' else ''}}">
                    <svg viewBox="0 0 24 24" class="svg-icon">
                        <path d="M3,4H7V8H3V4M9,5V7H21V5H9M3,10H7V14H3V10M9,11V13H21V11H9M3,16H7V20H3V16M9,17V19H21V17H9"></path>
                    </svg>
                </a>
            </section>
            <section class="navbar-section">
                <label>{{format_size(drive.get('remaining', 0))}} / {{format_size(drive['total'])}}</label>
            </section>
        </div>
        <div class="container">
            <div class="main-content">
                <div class="columns toolbar">
                    <div class="column col-7">
                        <div class="btn-group">
                            <input type="file" id="btn_file" style="display:none">
                            <a data-href="{{!url_join(request.url, {'a': 'upload'})}}" class="btn btn-primary btn-lg upload-btn">上传文件</a>
                            <a title="创建文件夹" data-href="{{!url_join(request.url, {'a': 'folder'})}}" class="btn btn-danger btn-lg ajax-modal">新建文件夹</a>
                            <a data-modal-size="md" title="Rclone配置文件" data-href="{{!url_join(request.url, {'a': 'rclone'})}}" class="btn btn-dark btn-lg ajax-modal">rclone</a>
                        </div>
                    </div>
                </div>
                <progress class="progress d-none" value="0" max="100"></progress>
                % if type(items) == list:
                % if not m or m == 'list':
                <table class="table file-list" data-page="{{page_url}}">
                    <thead>
                    <tr>
                        <th>文件名</th>
                        <th>修改时间</th>
                        <th>大小</th>
                    </tr>
                    </thead>
                    <tbody>
                    % include('data/list.html', items=items)
                    </tbody>
                </table>
                % else:
                <div class="file-list justified-gallery" data-page="{{page_url}}">
                    % include('data/grid.html', items=items)
                </div>
                % end
                <div class="loading loading-lg d-none"></div>
                % else:
                <div class="empty">
                    <p class="empty-title h5">用户未开通OneDrive</p>
                </div>
                %end
            </div>
        </div>
    </div>
    <div class="modal" id="modal">
    <a href="javascript:void(0);" class="modal-overlay btn-clear" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
            <a href="javascript:void(0);" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5"></div>
        </div>
        <div class="modal-body">
            <div class="loading loading-lg"></div>
            <div class="modal-content"></div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/static/main.js"></script>
</body>
</html>