<div class="form-group">
% import time
% time_local = time.localtime(drive['expires_time'])
% expiry = time.strftime("%Y-%m-%dT%H:%M:%S.122575099Z", time_local)
<textarea rows="15" style="width: 100%;">
[{{drive['_id']}}]
type = onedrive
client_id = {{drive['client_id']}}
client_secret = {{drive['client_id']}}
token = {"access_token":"{{drive['access_token']}}","token_type":"Bearer","refresh_token":"{{drive['refresh_token']}}","expiry":"{{expiry}}"}
drive_id = {{drive['drive_id']}}
drive_type = business
</textarea>
</div>